<% if @mode == 'pickup' %>
<h1>Confirm Your Pick-Up Order</h1>
<% elsif @mode == 'delivery' %>
<h1>Confirm Your Delivery Order</h1>
<% else %>
<h1>Confirm You Order</h1>
<% end %>
		<% @cart_items = CartItem.all.select{ |t| t.user_id == current_user.id && t.order_id == current_user.open_order }%>
<% unless @cart_items.empty? %>

<table class="table">
  <thead>
    <tr class="text-muted">
      <th >Quantity</th>
	  <th colspan="2"><span style="">Item</span></th>
    </tr>
  </thead>

	<tbody> <%# Actually, I will be displaying the cart items on the orders path. Confusing, I know. I can easily implement a "Past Orders" method, that will look like how the index typically looks, except I'll exclude any current, open orders from being displayed. No delete, edit, or anything like that as options. Can create a 'new' order from one of these old ones. It allows for reordering. But that's not even on this page. %>
		<%# @orders = @orders.select{ |t| t.user_id == current_user.id && } %>
		

	    <% @cart_items.each do |item| %>
	      <tr class="header" id="item-<%= item.id %>" data-toggle-info="false" >
		<td id="item-quantity-<%= item.id %>" width="75px" style="text-align:center;" >
		
		
		<!-- begin -->
		
		<b><span class="text-info">   <%= item.quantity %></span></b>
		<!-- end -->
		
		
		
		</td>
		<% selected_mods = SelectedModifier.all.select{ |t| t.cart_item_id == item.id }%>
		<td width="">

	        <b><span class="text-primary">   <%= Item.find(item.item_id).name %></span></b></td> <%# display modifiers? How to resolve ambiguity between items? Multiple rows, I suppose. That really seems to be the only way. It is going to be a rather complex layout. Each row (item row vs modifier row) needs to have different styles. Get rid of the hover. Get rid of the stripes. Option to remove modifiers from this page? [but no add, that'd be ridiculous!] %>
	      </tr>
		 
		
		<%# begin %>

			

					<% count = selected_mods.count %>	
					<% selected_mods.each_with_index do |sel, i| %>
						<% mod = Modifier.find(sel.modifier_id) %>
					
					<tr class="modifier_row active" >
						<td></td>
						<td><em><span class="text-muted" style="margin-left:1em;margin-right:-1em;"><%= mod.name %></em></span></td>
						<td></td>
					</tr>
					<% end %>

		<%# end %>
			
	    <% end %>
	  </tbody>
	</table>

	<% if @mode == 'pickup' %>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
			<%= link_to 'Back', orders_path, class: "btn btn-default btn-block" %>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
			<%= link_to 'Continue', pages_payment_path, class: "btn btn-success btn-block" %>
			</div>
		</div>
	<% elsif @mode == 'delivery' %>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
			<%= link_to 'Back', orders_path, class: "btn btn-default btn-block" %>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
			<%= link_to 'Continue', pages_select_path, class: "btn btn-success btn-block" %>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
				<%= link_to 'This order is for pick-up', pages_payment_path, class: "btn btn-success btn-block" %>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
				<%= link_to 'This order is for delivery', pages_select_path, class: "btn btn-success btn-block" %>
			</div>
		</div>

	<% end %>


<% end %>