<h1><%= @item.name %></h1>

	<p><%= @item.description %></p>
	
	<% c_item = @cart_item %>

	<div id="selected_modifiers">

	<% selected_mods = SelectedModifier.all.select{ |t| t.cart_item_id == @cart_item.id }%>
	<%= @cart_item.id %>
	<% selected_mods.each do |selected_modifier| %>
		<% modifier = Modifier.find(selected_modifier.modifier_id) %>
		<%= modifier.name %><br>
	<% end %>
	</div>

	<br>
		
	<% options = AppliedModGroup.all.select{ |t| t.item_id == @item.id } %>
	<% options.each do |applied_mod_group| %>
		<% modifier_groups = ModifierGroup.all.select{ |t| t.id == applied_mod_group.modifier_group_id }%>
		<% modifier_groups.each do |modifier_group| %>
			<% grouped_modifiers = GroupedModifier.all.select{ |t| t.modifier_group_id == modifier_group.id }%>
			<% collection_of_mods = [] %>
			<% grouped_modifiers.each do |grouped_modifer| %>
				<% modifier = Modifier.find(grouped_modifer.modifier_id) %>
				<% collection_of_mods.push modifier %>
				
			<% end%>

			<% selected_mod = SelectedModifier.new %>
			<% tempName = modifier_group.name.tr(' ', '_').camelize %>
			<%= form_for(selected_mod, :remote => true, :html=>{:id=>"#{tempName}", :style=>"" }, validate: true) do |g| %>
	  			<%= modifier_group.name %><br>
				<%= g.hidden_field :cart_item_id, :value => @cart_item.id %>
				<div id="<%= tempName %>Error"></div>
				<%= g.select :modifier_id, options_from_collection_for_select(collection_of_mods, 'id', 'name'), { :prompt => "Select #{modifier_group.name}" }, :id => "#{tempName}Select", onchange: " if ( $( '##{tempName}Select' ).val()=='' )
	   { $('##{tempName}Error').html('<p>Please do not try to select the placeholder.</p>'); } else { $('##{tempName}').submit(); }", class: "form-control" %>
			<% end %>
		<% end %>	
	<% end %>

<%= render 'form' %>

<%= link_to 'Show', @cart_item %> |
<%= link_to 'Back', cart_items_path %>
