<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address_one %><br>
    <%= f.text_field :address_one, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address_two %><br>
    <%= f.text_field :address_two, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address_three %><br>
    <%= f.text_field :address_three, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address_four %><br>
    <%= f.text_field :address_four, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :apartment %><br>
    <%= f.check_box :apartment, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :apartment_number %><br>
    <%= f.text_field :apartment_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :building_number %><br>
    <%= f.text_field :building_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gate_code %><br>
    <%= f.text_field :gate_code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :special_instructions %><br>
    <%= f.text_area :special_instructions, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
