<!DOCTYPE html>
<html>
<head>
  <title>Pizza</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
		<%= link_to "Pizza", pages_landing_path, class: "navbar-brand" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
		  <li>
            <%= link_to "Menu", pages_menu_path %>
          </li>
		  <li>
            <%= link_to "View Cart", orders_path %>
          </li>  
          <!-- <li class="dropdown"> <%# mouse over, display cart_items as drop downs... Click, links to orders_path %>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">DropDown <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a tabindex="-1" href="/">Default</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#/">Item 1</a></li>
              <li><a tabindex="-1" href="#/">Item 2</a></li>
              <li><a tabindex="-1" href="#/">Item 3</a></li>
              <li><a tabindex="-1" href="#/">Item 4</a></li>
              <li><a tabindex="-1" href="#/">Item 5</a></li>
              <li><a tabindex="-1" href="#/">Item 6</a></li>

            </ul>
          </li> -->

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to current_user.first_name, edit_user_registration_path(current_user) %></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>


  <div class="container containerTwo">
   <div class="page-header" id="banner">
    <div class="row">
		
		<% unless notice.nil? %>
			<div class="alert alert-info alert-dismissible" role="alert" onclick="footer">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
			  <span class="sr-only">Notice:</span>
			  <%= notice %>
			</div>
		<% end %>

		<% unless alert.nil? %>
			<div class="alert alert-danger alert-dismissible" role="alert" onclick="footer">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Alert:</span>
			  <%= alert %>
			</div>
		<% end %>
		
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
