<!DOCTYPE html>
<html>
<head>
  <title>Pizza</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<style>
		.form-signin {
		  max-width: 330px;
		  padding: 15px;
		  margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
		  margin-bottom: 10px;
		}
		.form-signin .checkbox {
		  font-weight: normal;
		}
		.form-signin .form-control {
		  position: relative;
		  height: auto;
		  -webkit-box-sizing: border-box;
		     -moz-box-sizing: border-box;
		          box-sizing: border-box;
		  padding: 10px;
		  font-size: 16px;
		}
		.form-signin .form-control:focus {
		  z-index: 2;
		}
		.form-signin input[type="email"] {
		  margin-bottom: -1px;
		  /*border-bottom-right-radius: 0;
		  border-bottom-left-radius: 0;*/
		}
		.form-signin input[type="password"] {
		  margin-bottom: 10px;
		  /*border-top-left-radius: 0;
		  border-top-right-radius: 0;*/
		}
		
		
		//------
		
		html,
		body {
		    width: 100%;
		    height: 100%;
		}
		
		hr {
		    max-width: 80px;
		    border-width: 3px;
		    opacity: 0.09;
		  
		}

		hr.light {
		    border-color: #fff;
		}
		
		.wide-space {
		    letter-spacing: 1.6px;
		}

		.icon-lg {
		    font-size: 50px;
		    line-height: 18px;
		}

		.bg-primary {
		    background-color: #333;
		}

		.bg-dark {
		    color: #eee;
		    background-color: #222;
		}
		
		
		section {
		    padding: 35px 0;
		}

		aside {
		    padding: 50px 0;
		}

		footer {
		    padding: 15px;
		}
		
		header {
		    position: relative;
		    min-height: auto;
		    /* text-align: center; */
		    color: #fff;
		    width: 100%;
		    background-color: #c9c9c9;
		    background-image: url('<%= image_url("Poster.jpg") %>');
		    background-position: center;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    background-size: cover;
		    -o-background-size: cover;
		}
		
		a {
			color: #fff;
		}

		header .header-content {
		    position: relative;
		    width: 100%;
		    padding: 100px 15px;
		    /* text-align: center; */
		    z-index: 2;
		}

		header .header-content .inner h1 {
		    margin-top: 0;
		    margin-bottom: 0;
		}

		header .header-content .inner p {
		    margin-bottom: 50px;
		    font-size: 16px;
		    font-weight: 300;
		    color: rgba(255,255,255,0.7);
		}

		#video-background {
		  position: absolute;
		  right: 0; 
		  bottom: 0;
		  min-width: 100%; 
		  min-height: 100%;
		  width: auto; 
		  height: auto;
		  z-index: 1;
		}

		#video-background.collapsing {
		  display:none;
		}
	</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<header id="first">
	        <div class="header-content">
	            <div class="inner">
						<div class="container containerTwo">
						   <div class="page-header" id="banner">
						    <div class="form-signin">

								<% unless notice.nil? %>
									<div class="alert alert-info alert-dismissible" role="alert" onclick="footer">
									  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									  <i class="fa fa-info-circle"></i>
									  <span class="sr-only">Notice:</span>
									  <%= notice %>
									</div>
								<% end %>

								<% unless alert.nil? %>
									<div class="alert alert-danger alert-dismissible" role="alert" onclick="footer">
									  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									  <i class="fa fa-exclamation-circle"></i>
									  <span class="sr-only">Alert:</span>
									  <%= alert %>
									</div>
								<% end %>

						      <%= yield %>
						    </div>
						  </div>
						</div>
	                
	            </div>
	        </div>
	
			<%= video_tag "Background.m4v", autoplay: :autoplay, loop: :loop, :class => "fillWidth fadeIn wow collapse in", :data_wow_delay => "0.5s", :poster => image_url("Poster.jpg"), :id => "video-background", :type => "video/m4v" %>
			
			<!--
			<video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
			            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
			        </video>
			-->
			
			
	      
	    </header>
	 <section class="bg-primary" id="one">
	        <div class="container">
	            <div class="row" style="text-align:center;">
	                <p>AME 485 - Julian Geiger</p>
	            </div>
	        </div>
	    </section>
	
  

<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

<% if (current_page?(orders_path)) %>
<script>

function toggleHide(value) {
  $("#"+value).nextUntil('tr.header').slideToggle(100);

  if($("#"+value).data('toggle-info').toString() == 'false'){
	$("#"+value+"-button").html("<i class='fa fa-plus-circle'></i>");
	// $("#"+value+"-minus").hide();
	// $("#"+value+"-minus").show();
    $("#"+value).data("toggle-info","true");
   
  }

  else{
	$("#"+value+"-button").html("<i class='fa fa-minus-circle'></i>");
	$("#"+value).data("toggle-info","false");
  }
}

</script>
<% end %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

<script>
$('#video-background').on('ended', function () {
  this.load();
  this.play();
});

$('#video-background').load();
$('#video-background').play();

</script>

</body>
</html>
